@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Masquer la scrollbar pour les navigateurs modernes */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), Arial;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.cardlist {
  clip-path: inset(0 0 0 0 round 24px 24px 24px 24px);
  max-height: calc(100vh - 96px);
  background: linear-gradient(130deg, #2d812c 0%, #ff1616 100%);
}
@media only screen and (max-width: 1024px) {
  .cardlist {
    clip-path: inset(0 0 0 0 round 4px 4px 4px 4px);
  }
}
